* {
  box-sizing: border-box;
  flex-direction: row; }

body {
  font-family: 'Figtree', sans-serif;
  margin: 0;
  padding: 0; }

.logo img {
  width: 160px;
  height: 66px; }

header {
  padding: 10px;
  background: #bdded7;
  background: linear-gradient(90deg, #bdded7 0%, #bdded7 49%); }

.navegador ul {
  background: #868080;
  background: linear-gradient(159deg, #868080 0%, #666968 100%);
  font-size: 20px; }
  .navegador ul a {
    color: white; }

.eslogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
  padding: 50px;
  margin: 5px 8px;
  font-size: 80px; }

.contenedor {
  flex: 70%;
  background-image: url(../multimedia/fonod.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .contenedor img {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px; }

.footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg, #bdded7 0%, #bdded7 49%); }

.fotos {
  flex: auto;
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: left;
  text-align: center; }
  .fotos .foto1 {
    padding: 5px;
    margin: 20px 20px; }
  .fotos .foto2 {
    padding: 5px;
    margin: 20px 20px; }
  .fotos .foto3 {
    display: flex;
    padding: 5px;
    margin: 20px 20px; }

/*SobreNosotros*/
.contenedor2 {
  flex: 70%;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.segundo__titulo {
  border-right-width: 100px;
  padding-right: 400px;
  padding-left: 100px; }

.segundo__titulo h2 {
  color: black;
  font-weight: lighter;
  padding: 100px;
  font-size: 20px; }

.segundo__titulo img {
  max-width: 50%;
  max-height: 50%; }

/* Paises*/
.contenedor3 {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 2fr; }

.Paises img {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 300px;
  margin: 10px 20px; }

.Paises h1 {
  text-align: center; }

.Paises p {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px; }

.pais_alemania {
  text-align: 50px;
  color: white;
  padding: 40px 40px;
  background-color: #c5cfd8; }

.desc_alemania {
  text-align: 10px;
  padding: 10px 5px;
  border: 10px 25px;
  font-weight: lighter; }

.pais_dinamarca {
  text-align: 50px;
  color: white;
  padding: 40px 40px;
  background-color: #c5cfd8; }

.pais_espana {
  text-align: 50px;
  color: white;
  padding: 40px 40px;
  background-color: #c5cfd8; }

.desc_espana {
  text-align: 10px;
  font-weight: lighter;
  padding: 10px 5px;
  border: 10px 25px;
  font-weight: lighter; }

.pais_usa {
  text-align: 50px;
  color: white;
  padding: 40px 40px;
  background-color: #c5cfd8; }

.desc_usa {
  text-align: 10px;
  font-weight: normal;
  padding: 10px 5px;
  border: 10px 25px;
  font-weight: lighter; }

/* Experiencia */
.contenedor_bloques {
  display: flexbox;
  background-image: url("../multimedia/fondo4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.card img {
  width: 200px;
  height: 200px; }

.primer_parrafo {
  display: flex;
  border-right-width: 0px;
  border-left-width: 100px;
  padding-left: 300px;
  padding-bottom: 120px;
  border-top-width: 15px;
  padding-top: 50px; }

.segundo_parrafo {
  display: flex;
  border-right-width: 0px;
  border-left-width: 100px;
  padding-left: 300px;
  padding-bottom: 120px;
  border-top-width: 15px;
  padding-top: 50px; }

/* CONTACTO*/
.formulario {
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 100px;
  background-image: url(../multimedia/FONDO.jpg); }
  .formulario form {
    color: black; }

.mapa h2 {
  padding-left: 500px;
  padding-bottom: 25px;
  padding-top: 25px; }
